<!DOCTYPE html>
<html>
  <head>
    <title>StackOverflow Jr.</title>
    <meta property="og:title" content="StackOverflow Jr." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://stackoverflow-jr.herokuapp.com/" />
    <meta property="og:image" content="/app/assets/images/favicon.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
